.slide-bg {
  position: relative;
  height: 100%;
  width: 100%;
  background-position: 0 0;
  background-size: auto 100vh;
  background-image: url(#{$imgDir}background.jpg);
  background-repeat: no-repeat;
  transition: background-position 1s ease-in-out .25s;
  pointer-events: none;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px 90px;
  box-sizing: border-box;
	visibility: hidden;
	opacity: 0;
	transition: opacity .25s ease-in-out, visibility 0s linear .25s;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@for $i from 1 through 10 {
  .slide-#{$i} {
    @extend .slide;
  }

  body[data-active-slide="#{$i}"] {
    .slide-#{$i} {
    	visibility: visible;
    	opacity: 1;
    	transition: opacity .25s ease-in-out 1.25s, visibility 0s linear 1.25s;
    }
  }
}



body[data-active-slide="2"] .slide-bg { background-position: calc(22.5% + 50vw) 0; }
body[data-active-slide="3"] .slide-bg { background-position: calc(33.5% + 50vw) 0; }
body[data-active-slide="4"] .slide-bg { background-position: calc(42% + 25vw) 0; }
body[data-active-slide="5"] .slide-bg { background-position: calc(57% + 25vw) 0; }
body[data-active-slide="6"] .slide-bg { background-position: calc(70.5% + 25vw) 0; }
body[data-active-slide="7"] .slide-bg { background-position: calc(94% + 75vw) 0; }
body[data-active-slide="8"] .slide-bg { background-position: calc(105% + 50vw) 0; }
body[data-active-slide="9"] .slide-bg { background-position: 100% 0; }
body[data-active-slide="10"] .slide-bg { background-position: calc(100% - 680px) 0; }


.slide-1 {
  padding-left: 30px;
  justify-content: space-between;
  padding-bottom: 120px;
  p {
    color: $color-1;
    font-size: 14px;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0,0,0,.8);
  }
}


.slide-3,
.slide-4,
.slide-5 {
  text-align: right;
}

.slide-10 {
  padding-right: 30px;
  justify-content: space-between;
  text-align: right;
  padding-bottom: calc(50vh - 32px);
	visibility: visible;
  opacity: 1;
  transform: translateX(550px);
	transition: transform 1s ease-in-out .25s;
  p {
    color: $color-1;
    font-size: 14px;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0,0,0,.8)
  }
  a {
    color: $color-1;
    &.underlined {
      text-decoration: underline;
    }
  }
  a + a {
    margin-left: 10px;
  }
}

body[data-active-slide="10"] {
  .slide-10 {
    transform: translateX(0);
    transition: transform 1s ease-in-out .25s;
  }
}